<!-- ============================================================== -->
<!-- pageheader  -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title"><i class="fa fa-fw fa-home"></i> Home </h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a ui-sref="siswa-home" class="breadcrumb-link">YPK</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Pengumuman</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="siswa">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        Biodata
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Biodata Siswa</h4>
                        <p class="card-text">Text</p>
                    </div>
                    <div class="card-footer text-muted">
                        Footer
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>