<ul class="nav nav-tabs stepper" id="myTab" role="tablist">
    <li class="nav-item stepper-item" ng-class="{'stepper-complete':item.complete, 'stepper-selected':item.selected}"
        ng-repeat="item in steppers">
        <a class="stepper-node" ng-click="select(item.idstepper)" ng-disabled="!item.complete"
            ng-class="{'active':$index==0, 'disabled':!item.selected && !item.complete}" id="home-tab" data-toggle="tab"
            href="" data-target="#tab{{item.idstepper}}" role="tab" aria-controls="home"
            aria-selected="true">{{item.name}} </a>
    </li>
</ul>

<!-- Tab panes -->

<div class="container">
    <div class="tab-content">
        <div class="tab-pane active" id="tab1" role="tabpanel" aria-labelledby="profile-tab">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-info">
                        <h4>BIODATA</h4>
                    </div>
                    <form ng-submit="save(1,siswa)">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label">NIS</label>
                                        <input ng-model="siswa.nis" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Nama</label>
                                        <input ng-model="siswa.nama" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Tempat Lahir</label>
                                        <input ng-model="siswa.tempatlahir" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Tanggal Lahir</label>
                                        <input ng-model="siswa.tanggallahir" date-input type="date"
                                            class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Jenis Kelamin</label>
                                        <select class="form-control" ng-model="siswa.jeniskelamin"
                                            ng-options="item as item for item in helper.genders">
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-form-label">Alamat</label>
                                        <textarea ng-model="siswa.alamat" class="form-control"
                                            id="message-text"></textarea>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label">Kontak</label>
                                        <input ng-model="siswa.kontak" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Asal Sekolah</label>
                                        <textarea ng-model="siswa.asalsekolah" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Jurusan</label>
                                        <select class="form-control" ng-model="siswa.jurusan"
                                            ng-options="item as item for item  in helper.jurusan">
                                        </select>
                                    </div>


                                    <div style="margin-top: 30px;" ng-show="!siswa.idcalonsiswa">
                                        <h3>Data Akun</h3>
                                        <div class="form-group">
                                            <label class="col-form-label">User Name</label>
                                            <input ng-model="siswa.username" type="text" class="form-control"
                                                autocomplete="false">
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label">Password</label>
                                            <input ng-model="siswa.password" type="password" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label">Confirm Password</label>
                                            <input ng-model="siswa.confirm" type="password" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary"><i class=" fa fa-spinner fa-spin"
                                        ng-show="helper.IsBusy"></i>NEXT</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="messages-tab">
            <div class="card">
                <div class="card-header bg-info">
                    <h4> ORANG TUA</h4>
                </div>
                <div class="card-body">
                    <form ng-submit="save(2,siswa.orangtua)">
                        <div class="card" ng-repeat="item in siswa.orangtua">
                            <div class="card-header bg-primary">{{item.jenisorangtua}}</div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="col-form-label">Nama</label>
                                    <input ng-model="item.nama" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">NIK</label>
                                    <input ng-model="item.nik" type="text" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label class="col-form-label">Tahun Lahir</label>
                                    <select class="form-control" ng-model="item.tahunlahir"
                                        ng-options="item as item for item in helper.tahunlahir">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Pekerjaan</label>
                                    <select class="form-control" ng-model="item.pekerjaan"
                                        ng-options="item as item for item in helper.pekerjaan">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Pendidikan</label>
                                    <select class="form-control" ng-model="item.pendidikan"
                                        ng-options="item as item for item in helper.pendidikan">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Pendapatan</label>
                                    <select class="form-control" ng-model="item.pendapatan"
                                        ng-options="item as item for item in helper.pendapatan">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="d-inline-flex" style="margin-bottom: 15px;">
                                        <label style="margin-top: 4px; margin-right: 20px;">Berkebutuhan
                                            Khusus</label>
                                        <div class="checkbox-custom">
                                            <label>
                                                <input ng-model="item.kebutuhankhusus" type="checkbox">
                                                <b></b>
                                            </label>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                            <button type="submit" class="btn btn-primary"><i class=" fa fa-spinner fa-spin"
                                    ng-show="helper.IsBusy"></i>Next</button>
                        </div>
                    </form>
                </div>
            </div>


        </div>
        <div class="tab-pane" id="tab3" role="tabpanel" aria-labelledby="messages-tab">
            <div class="card">
                <div class="card-header bg-info">
                    <h4>PRESTASI</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tahun</th>
                                <th>Nama Prestasi</th>
                                <th>Tingkat</th>
                                <th>Pengelenggara</th>
                                <th>Jenis Prestasi</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in siswa.prestasi">
                                <td scope="row">{{$index+1}}</td>
                                <td scope="row">{{item.tahun}}</td>
                                <td scope="row">{{item.namaprestasi}</td>
                                    <td scope="row">{{item.tingkat}}</td>
                                <td scope="row">{{item.penyelenggaraan}}</td>
                                <td scope="row">{{item.jenisprestasi}}</td>
                                <td scope="row">
                                <td nowrap>
                                    <div class="tdaction justify-content-start">
                                        <a class="btn btn-outline-warning" href="" data-toggle="modal"
                                            data-target="#modalPrestasi" ng-click="edit(3,item)"><i
                                                class="fa fa-edit fa-1x"></i></a>
                                        <a class="btn btn-outline-danger" href="" ng-click="delete(3,item)"><i
                                                class="fa fa-trash fa-1x"></i></a>

                                    </div>
                                </td>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                    <button type="submit" class="btn btn-primary"><i class=" fa fa-spinner fa-spin"
                            ng-show="helper.IsBusy"></i>Next</button>
                </div>
            </div>

        </div>
        <div class="tab-pane" id="tab4" role="tabpanel" aria-labelledby="settings-tab">
            <div class="card">
                <div class="card-header bg-info">
                    <h4>KESEJAHTERAAN</h4>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Text</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                    <button type="submit" class="btn btn-primary"><i class=" fa fa-spinner fa-spin"
                            ng-show="helper.IsBusy"></i>Next</button>
                </div>
            </div>

        </div>
        <div class="tab-pane" id="tab5" role="tabpanel" aria-labelledby="settings-tab">
            <div class="card">
                <div class="card-header bg-info">
                    <h4>BERKAS</h4>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Text</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                    <button type="submit" class="btn btn-primary"><i class=" fa fa-spinner fa-spin"
                            ng-show="helper.IsBusy"></i>Next</button>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modalPrestasi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form ng-submit="save(2,model)">
                    <div class="form-group">
                        <label class="col-form-label">Penyelenggara</label>
                        <input ng-model="model.penyelenggaraan" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Jenis Prestasi</label>
                        <input ng-model="model.jenisprestasi" type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Tingkat</label>
                        <select class="form-control" ng-model="model.tingkat"
                            ng-options="item as item for item in helper.tingkat">
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Tahun</label>
                        <input ng-model="model.tahun" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Nama Prestasi</label>
                        <input ng-model="model.namaprestasi" type="text" class="form-control">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary"><i class=" fa fa-spinner fa-spin"
                                ng-show="helper.IsBusy"></i>Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>











<style>
    .tab-content {
        min-height: 80vh;
    }

    a.disabled {
        pointer-events: none;
        cursor: default;
    }
</style>