<div id="home" class="row">
    <div id="left-side" class="col-md-9">
        <div class="card">
            <div id="left-side-content" class="card-body">
                <app.htmlview></app.htmlview>
            </div>
        </div>
    </div>
    <div id="right-side" class="col-md-3">
        <div class="card">
            <div class="card-body bg-primary">
                <h5 class="card-title">PENGUMUMAN</h5>
                <p class="card-text">PENGUMUMAN Some quick example text to build on the card title and make up the bulk
                    of the
                    card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body bg-warning">
                <h5 class="card-title">INFORMASI</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>

    </div>
</div>




<style>
    #home {
        min-height: 80vh;
    }

    #right-side {
        padding: 10px;
    }

    #left-side {
        padding: 10px;
    }

    #left-side-content {
        padding: 20px;
    }
</style>